<script lang="ts" setup>
import { ref } from "vue";

var pic = ref("");
var text = ref("");
var choose = ref("");

const changePicAngry = () => {
  pic.value = "../../feeling_imgs/angry.png";

  text.value = "Angry";
};

const changePicCute = () => {
  pic.value = "../../feeling_imgs/cute.png";
  text.value = "Cute";
};

const changePicExcited = () => {
  pic.value = "../../feeling_imgs/excited.png";
  text.value = "Excited";
};

const changePicPain = () => {
  pic.value = "../../feeling_imgs/pain.png";
  text.value = "Pain";
};

const changePicShock = () => {
  pic.value = "../../feeling_imgs/shocked.png";
  text.value = "Shocked";
};

const changePicSmile = () => {
  pic.value = "../../feeling_imgs/smile.png";
  text.value = "SMILE";
};
</script>
<template>
  <v-container class="justify-center" style="margin-top: 50px">
    <v-row>
      <v-col cols="6">
        <v-img :src="pic"></v-img>
      </v-col>
      <v-col>
        <v-container>
          <v-row class="justify-center">
            <v-col style="text-align: center">
              <h1>{{ text }}</h1>
              <v-btn @click="changePicAngry()" block>ANGRY</v-btn>
              <v-btn @click="changePicCute()" block>CUTE</v-btn>
              <v-btn @click="changePicExcited()" block>EXCITED</v-btn>
              <v-btn @click="changePicPain()" block>PAIN</v-btn>
              <v-btn @click="changePicShock()" block>SHOCKED</v-btn>
              <v-btn @click="changePicSmile()" block>SMILE</v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.v-btn {
  margin-bottom: 20px;
}
</style>
